[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[Floppy Disk]
row=1
col=0

[c8cd26eb-78f1-4aec-82ef-efe8fe5d1939]
row=0
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/is28/tverdov28]
row=4
col=0

